<section class="mb-8 relative bg-[url('./assets/images/bgAboutSection.jpeg')] bg-center bg-cover">
  <div class="layer absolute inset-0 layer-color overflow-hidden">
    <img src="./assets/images/vectorAboutSection.png" class="w-0 md:w-3/4 ms-auto" alt="vectorAboutSection">
  </div>
  <div class="content grid grid-cols-12 relative">
    <div class="about col-span-12 lg:col-span-6 ps-[15%]">
      <h1 class="capitalize text-white text-[64px] font-[900] line-h-89">about us</h1>
      <p class="text-white text-[18px] font-[700] leading-[24px] mb-5">Lorem Ipsum is simply dummy text of the printing
        and typesetting industry. Lorem Ipsum has been the industry's
        standard dummy text ever since the 1500s, when an</p>
      <div class="rounded-[20px] overflow-hidden">
        <img src="./assets/images/aboutBox.png" class="w-[50%]" alt="aboutBox" />
      </div>
    </div>
    <div class="where col-span-12 lg:col-span-6 py-12 px-5 text-right">
      <h2 class="capitalize text-white text-[64px] font-[900] line-h-89 mb-5">where</h2>
      <p class="text-[18px] font-[600] leading-[24px] text-white mb-10">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
        industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
        scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
        electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of
        Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like
        Aldus PageMaker including versions of Lorem Ipsum
      </p>
    </div>
    <div class="col-span-12 py-5">
      <button class="btn-style mx-auto capitalize bg-[#EEC04B] px-10 py-2 block me-auto text-[24px] font-[700] leading-[36px] text-[#515151]">help me</button>
    </div>
  </div>
</section>
