<section class="flex flex-col items-end md:w-[85%] mb-8  py-10 bg-[url('./assets/images/bgHeaderSection.png')] bg-cover bg-center">
  <div class="w-full md:w-1/2 flex flex-col items-center justify-center py-10">
    <div class="logo flex items-center justify-center flex-col lg:flex-row mb-10">
      <img src="./assets/images/Слой 2.png" class="w-[83px] border-[1px] border-[#6D91EE]" alt="Trash Hauling" />
      <div class="text-center ms-3">
        <h1 class="capitalize main-text-color text-[30px] font-[300] leading-[50px] md:text-[60px] md:leading-[71.1px]">round rock
        </h1>
        <p class="capitalize main-text-color text-[18px] font-[600] tracking-[0.25rem] md:text-[21px] md:font-[800] md:tracking-[0.75rem] mt-0 leading-[24.88px]">trash
          hauling</p>
      </div>
    </div>
    <div class="head-content text-center">
      <button
        class="capitalize bg-6D91EE px-6 py-2 rounded-[20px] text-white text-[24px] font-[500] block mx-auto bt-hover">experts</button>
      <span class="capitalize font-[100] text-[66px] text-[#4F4F4F] line-h-89">lorem</span>
      <p class="font-[900] text-[66px] text-[#4F4F4F] line-h-89 mb-4 ">Lorem lorem</p>
      <p class="mb-2 text-[#4F4F4F] text-[18px] font-[600] leading-[25.5px]">Lorem Ipsum is simply dummy text of the
        printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the</p>
      <button
        class="capitalize btn-style bg-5180F6 px-10 py-2 text-white text-[24px] font-[700] leading-[36px] block mx-auto bt-hover">help
        me</button>
    </div>
  </div>
</section>
