<section class="mb-8 ">
  <div class="w-fit mx-auto relative mb-10">
    <h1 class="capitalize  px-7 py-3 text-[40px] font-[500] leading-[50px]  md:text-[64px] md:font-[900] md:line-h-89 main-text-color">testymonials</h1>
    <img src="./assets/images/Line 1.png" class="absolute top-0 right-0" alt="line 1" />
    <img src="./assets/images/Line 2.png" class="absolute bottom-0 right-0" alt="line 2" />

    <img src="./assets/images/Line 3.png" class="absolute top-0" alt="line 3">

    <img src="./assets/images/Line 4.png" class="absolute left-0 bottom-0" alt="line 4" />
  </div>
  <div class="content w-[80%] mx-auto grid gap-4 sm:grid-cols-1 md:grid-cols-2">
    <div class="box border-[1px] border-[#6D91EE] grid grid-cols-12 rounded-[40px] p-4 bg-white box-style">
      <div class="col-span-12 lg:col-span-3">
        <span class="inline-block w-[80px] h-[80px] rounded-full overflow-hidden">
          <img src="./assets/images/Ellipse 1.png" class="w-full" alt="">
        </span>
      </div>
      <div class="col-span-12 lg:col-span-9 text-left">
        <h2 class="capitalize main-text-color text-[18px] font-[700] leading-[22px] mb-3">courtney henry</h2>
        <p class="text-[14px] leading-[22px] mb-2">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
          industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a type specimen book</p>
          <span class="flex gap-3">
            <i class="fa-solid fa-star main-text-color"></i>
            <i class="fa-solid fa-star main-text-color"></i>
            <i class="fa-solid fa-star main-text-color"></i>
            <i class="fa-solid fa-star main-text-color"></i>
            <i class="fa-solid fa-star main-text-color"></i>
          </span>
      </div>

    </div>
    <div class="box border-[1px] border-[#6D91EE] grid grid-cols-12 rounded-[40px] p-4 bg-white box-style">
      <div class="col-span-12 lg:col-span-3">
        <span class="inline-block w-[80px] h-[80px] rounded-full overflow-hidden">
          <img src="./assets/images/Ellipse 1.png" class="w-full" alt="">
        </span>
      </div>
      <div class="col-span-12 lg:col-span-9 text-left">
        <h2 class="capitalize main-text-color text-[18px] font-[700] leading-[22px] mb-3">courtney henry</h2>
        <p class="text-[14px] leading-[22px] mb-2">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
          industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a type specimen book</p>
          <span class="flex gap-3">
            <i class="fa-solid fa-star main-text-color"></i>
            <i class="fa-solid fa-star main-text-color"></i>
            <i class="fa-solid fa-star main-text-color"></i>
            <i class="fa-solid fa-star main-text-color"></i>
            <i class="fa-solid fa-star main-text-color"></i>
          </span>
      </div>

    </div>
    <div class="box border-[1px] border-[#6D91EE] grid grid-cols-12 rounded-[40px] p-4 bg-white box-style">
      <div class="col-span-12 lg:col-span-3">
        <span class="inline-block w-[80px] h-[80px] rounded-full overflow-hidden">
          <img src="./assets/images/Ellipse 1.png" class="w-full" alt="">
        </span>
      </div>
      <div class="col-span-12 lg:col-span-9 text-left">
        <h2 class="capitalize main-text-color text-[18px] font-[700] leading-[22px] mb-3">courtney henry</h2>
        <p class="text-[14px] leading-[22px] mb-2">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
          industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a type specimen book</p>
          <span class="flex gap-3">
            <i class="fa-solid fa-star main-text-color"></i>
            <i class="fa-solid fa-star main-text-color"></i>
            <i class="fa-solid fa-star main-text-color"></i>
            <i class="fa-solid fa-star main-text-color"></i>
            <i class="fa-solid fa-star main-text-color"></i>
          </span>
      </div>

    </div>
    <div class="box border-[1px] border-[#6D91EE] grid grid-cols-12 rounded-[40px] p-4 bg-white box-style">
      <div class="col-span-12 lg:col-span-3">
        <span class="inline-block w-[80px] h-[80px] rounded-full overflow-hidden">
          <img src="./assets/images/Ellipse 1.png" class="w-full" alt="">
        </span>
      </div>
      <div class="col-span-12 lg:col-span-9 text-left">
        <h2 class="capitalize main-text-color text-[18px] font-[700] leading-[22px] mb-3">courtney henry</h2>
        <p class="text-[14px] leading-[22px] mb-2">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
          industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a type specimen book</p>
          <span class="flex gap-3">
            <i class="fa-solid fa-star main-text-color"></i>
            <i class="fa-solid fa-star main-text-color"></i>
            <i class="fa-solid fa-star main-text-color"></i>
            <i class="fa-solid fa-star main-text-color"></i>
            <i class="fa-solid fa-star main-text-color"></i>
          </span>
      </div>

    </div>
  </div>

</section>
