<section class="mb-8 text-center ">
  <div class="w-fit mx-auto relative mb-10">
    <h1 class="capitalize  px-7 py-3 text-[40px] font-[500] leading-[50px]  md:text-[64px] md:font-[900] md:line-h-89 main-text-color">services</h1>
    <img src="./assets/images/Line 1.png" class="absolute top-0 right-0" alt="line 1" />
    <img src="./assets/images/Line 2.png" class="absolute bottom-0 right-0" alt="line 2" />

    <img src="./assets/images/Line 3.png" class="absolute top-0" alt="line 3">

    <img src="./assets/images/Line 4.png" class="absolute left-0 bottom-0" alt="line 4" />
  </div>
  <div class="content w-[80%] mx-auto grid gap-4 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 mb-5">
    <figure class="overflow-hidden rounded-[30px] bg-white box-style">
      <img src="./assets/images/boxServices3.png" class="w-full max-h-[180px]" alt="boxServices1" />
      <figcaption class="p-5">
         <h2 class="text-[16px] font-[900] leading-[24px] mb-4">lorem Ipsum</h2>
         <p class="text-[14px] leading-[20px]">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
          standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled
        </p>
      </figcaption>
    </figure>
    <figure class="overflow-hidden rounded-[30px] bg-white box-style">
      <img src="./assets/images/boxServices2.png" class="w-full max-h-[180px]" alt="boxServices2" />
      <figcaption class="p-5">
         <h2 class="text-[16px] font-[900] leading-[24px] mb-4">lorem Ipsum</h2>
         <p class="text-[14px] leading-[20px]">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
          standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled
        </p>
      </figcaption>
    </figure>
    <figure class="overflow-hidden rounded-[30px] bg-white box-style">
      <img src="./assets/images/boxServices1.jpeg" class="w-full max-h-[180px]" alt="boxServices1" />
      <figcaption class="p-5">
         <h2 class="text-[16px] font-[900] leading-[24px] mb-4">lorem Ipsum</h2>
         <p class="text-[14px] leading-[20px]">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
          standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled
        </p>
      </figcaption>
    </figure>
  </div>
  <button
        class="capitalize btn-style bg-5180F6 px-10 py-2 text-white text-[24px] font-[700] leading-[36px] block mx-auto bt-hover">help
        me</button>
</section>
